/*tuto #! Preview*/
nav{
  text-align: center;
}
nav li{
  display: inline-block;
  width: 100px;
  height: 40px;
  transition:all .5s;
  line-height: 36px;
}
nav li a{
  text-decoration: none;
  color: white;
  font-size: 12px;
}
ul:hover li {
  background-color: gray;
}
.morado, ul:hover li.morado:hover{
  background-color: #383383;
}
.azul, ul:hover li.azul:hover{
  background-color: #0480C6;
}
.verde, ul:hover li.verde:hover{
  background-color: #74B70F;
}
.amarillo, ul:hover li.amarillo:hover{
  background-color: #F7B800;
}
.naranja, ul:hover li.naranja:hover{
  background-color: #F26900;
}
.rojo, ul:hover li.rojo:hover{
  background-color: #CE000D;
}